.main {
    width: 100vw;
    height: 90vh;
}

.game__title, .game__subtitle {
    color: beige;
}

.track {
    height: 120px;
    border-bottom: dotted;
}

.track-control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-select,
.btn-remove {
    width: 100px;
    height: 25px;
    background: rgb(25, 231, 231);
    margin-right: 10px;
}

.track__car-name {
    color: yellow;
}

.track-car {
    display: flex;
    width: 100%;
}

.track__btn {
    display: flex;
    width: 10%;
}

.btn-start,
.btn-stop {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: rgb(39, 38, 38);
    margin-right: 10px;
    color: beige;
}

.btn-start:hover,
.btn-stop:hover {
    border: 1px solid aqua;
    color: aqua;
}

.track__race {
    width: 90%;
    display: flex;
    justify-content: end;
}

.race {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.car {
    fill:rgb(232, 247, 28);
    height: 100px;
}

.flag {
    width: 40px;
    height: 60px;
    background-image: url(../../../assets/flag.png);
    background-size: 40px 60px;
}
