.create {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.create__input {
    width: 200px;
    height: 25px;
    margin-left: 20px;
}

.create__color {
    width: 50px;
    height: 25px;
    margin-left: 20px;
}

.btn-create {
    width: 100px;
    height: 25px;
    background: rgb(25, 231, 231);
}